@font-face {
  font-family: "Raleway";
  src: url('./fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: "Bowhouse";
  src: url('./fonts/Bowhouse-Regular.otf');
}
@font-face {
  font-family: "Quarca";
  src: url('./fonts/QuarcaNormRegular.otf');
}
html, body {
  font-family: "Bowhouse";
  font-size: 110%;
}

ul.flex-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1.28em;
  left: -2em;
}

ul.flex-menu  li {
  list-style-type: none;
  padding: 0.8em;
  cursor: pointer;
}

ul.flex-menu li:hover {
  background-color: #eee;
}

ul.flex-menu > a {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

div.s2d {
  float: left;
  position: fixed;
  z-index: 3;
  left: 0.5em;
  top: -0.15em;
  padding: 0.8em;
  cursor: pointer;
  text-shadow: 1px 1px 2px white;
  color: rgb(190, 190, 190);
}

 div.s2d > a:hover {
   color: orange;
   transition: .1s color ease-in;
 }

a.active-link {
  border-bottom: 0.125em solid orange;
}

/*offset the active link border making the list item grow vertically*/
.active-link > li {
  position: relative;
  top: .0625em;
}

h3.App-article-title > a {
  text-decoration: none;
  color: rgb(240, 180, 130);
}

h1.App-title {
  position: relative;
  top: 2em;
  color: rgba(240, 180, 130, 0.85);
  font-family: Quarca;
  width: 200px;
  margin: 0 auto;
}

h1.App-title:hover {
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: 0.25s color linear;
}

div.large {
  font-size: 185%;
  padding: 0;
  padding-bottom: .25em;
  margin: 0;
}

.App-menu {
  width: 100%;
  text-align: center;
  height: 2.5em;
  padding-top: .2em;
  background-color: rgb(0, 15, 30);
  color: rgba(190, 190, 190, 1);
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: Quarca;
}

/*see the @media mobile section at end of this file*/
.App-mobile-menu, .App-mobile-links{
  display: none;
}

.App-header {
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0,15,30);
  height: 650px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  position: fixed;
  top: 2.4em;
}

div.slidy {
  position: relative;
  top: 690px;
  z-index: 1;
  background-color: white;
  font-family: Bowhouse;
  width: 100%;
}

.App-content {
  width: 100%;
  font-family: "Raleway";
}

/*=================================Start Comment Grid=========================*/
.comment-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr repeat(3, 1fr);
  grid-template-areas:
  "g-form g-comments g-comments g-comments";
  font-size: 85%;
}

.g-form {
  grid-area: g-form;
  padding: 0.5em;
  height: auto;
  width: auto;
}

.g-comments {
  grid-area: g-comments;
  padding: 0.5em;
}
/*=================================End Comment Grid=========================*/

.App-article {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.gold-text{
  color: rgba(240, 180, 130, 0.9)
}

.App-article-title {
  text-align: center;
  padding-top: 0.5em;
}

div.date {
  text-align: center;
  font-size: 80%;
}

div.App-article > p {
  font-family: Raleway;
}

p.App-article-first::first-letter{
  line-height: 1em;
  font-weight: bolder;
  font-size: 200%;
  float: left;
  padding-right: 5px;
}

span.stars {
  color: rgba(240, 180, 130, 0.9);
  font-size: 75%;
}

.goTop{
  text-align: center;
  font-family: courier;
  cursor: pointer;
  color: rgba(240, 180, 130, 1);
}

.visible {
  opacity: 1;
  transition: all .5s;
}

.hidden {
  opacity: 0;
  transition: all .5s;
}

.arrow-up {
  display: block;
  position: relative;
  top: 14px;
  left: 14px;
  border-top: 2px solid rgba(240, 180, 130, 0.7);
  border-left: 2px solid rgba(240, 180, 130, 0.7);
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

.arrow-up-lower {
  width: 15px;
  height: 15px;
  left: 16.5px;
  top: 5px;
}

.circle {
  border: 1.5px solid rgba(240, 180, 130, 0.7);
  background-image: radial-gradient(
    circle at center,
    rgb(0, 15, 30),
    rgba(255, 255, 255, 0.1) 90%
    );
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 43%;
  bottom: 2em;
}

.circle:active, .circle:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1.5px solid rgba(240, 180, 150, 0.8);
  transition: 0.1s all linear;
}

.bounce {
  position: relative;
  animation: 1s linear bounce;
}

@keyframes bounce {
  from {}
  20% { top: -5px; }
  29% { top: -1px; }
  48% { top: -3px; }
  75% { top: 0px; }
}
/* =================== Mobile layout: use below if screen < max-width ============================= */

@media screen and (max-width: 767.9px) {

  .App-menu {
    display: none;
  }

  .App-mobile-menu {
    cursor: pointer;
    display: block;
    height: 2.2em;
    background-color: rgb(0, 15, 30);
    color: rgba(190, 190, 190, 1);
    padding-top: 0.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    font-family: Quarca;
  }

  .App-mobile-menu:focus, .App-mobile-menu:hover {
    color: rgba(240, 240, 240, 0.9);
  }

  ul.flex-menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: .0125em;
  }

  ul.flex-menu > li {
    list-style-type: none;
    padding: 1em;
  }

  ul.flex-menu > li:hover, ul.flex-menu > li:active {
    background-color: #eee;
  }

  .active-link {
    border-bottom: 2px solid orange;
  }

  .App-mobile-links {
    display: block;
    z-index: 2;
    position: fixed;
    background-color: white;
    top: 2.1em;
    width: 100%;
    height: 100%;
    font-size: 125%;
    font-weight: bolder;
  }

  .closed {
    opacity: 0;
  }

  .open {
    opacity: 1;
  }

  .menu-links-initial {
    height: 0;
    opacity: 0;
  }


  .initial-menu, .closing{
    width: 7px;
    height: 7px;
    border-right: 2px double rgb(190, 190, 190);
    border-bottom: 2px double rgb(190, 190, 190);
    transform: rotate(45deg);
    position: relative;
    left: 49%;
    top: 5%;
  }

  .opening {
    animation: .2s opening-ani;
    color: orange;
    font-size: 125%;
    position: relative;
    bottom: 10%;
    transform: rotate(90deg);
  }

  .closing {
    animation: 0.1s closing-ani;
  }

  .bounce {
    position: relative;
    animation: 1s linear bounce;
  }

  @keyframes bounce {
    from {}
    20% { top: -8px; }
    29% { top: -2px; }
    48% { top: -5px; }
    75% { top: 0px; }
  }

  @keyframes opening-ani {
    from {
    }
    to {
      transform: rotate(450deg);
    }
  }

  @keyframes closing-ani {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(-810deg);
    }
  }

  @keyframes appear {
    from { opacity: 0; background-color: rgba(255, 255, 255, 0);}
    100% { opacity: 1; background-color: rgba(255, 255, 255, 1);}
  }

  @keyframes disappear {
    from { opacity: 1; background-color: rgba(255, 255, 255, 1);}
    100% { opacity: 0; background-color: rgba(255, 255, 255, 0);}
  }

  @-webkit-keyframes appear {
    from { opacity: 0; background-color: rgba(255, 255, 255, 0);}
    100% { opacity: 1; background-color: rgba(255, 255, 255, 1);}
  }

  @-webkit-keyframes disappear {
    from { opacity: 1; background-color: rgba(255, 255, 255, 1);}
    100% { opacity: 0; background-color: rgba(255, 255, 255, 0);}
  }

  .comment-grid {
    display: block;
  }

}
