@font-face {
  font-family: "Raleway";
  src: url('./fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: "Bowhouse";
  src: url('./fonts/Bowhouse-Regular.otf');
}
@font-face {
  font-family: "Quarca";
  src: url('./fonts/QuarcaNormRegular.otf');
}
html, body {
  font-family: "Bowhouse";
  font-size: 110%;
}

strong {
  font-weight: bolder;
  font-size: 250%;
}

.pure-menu-link, .pure-menu-link:visited { /*override pure css*/
  color: rgb(190, 190, 190);
}

h1.App-title{
  position: relative;
  top: 2.5em;
  color: rgba(240, 180, 130, 0.75);
  font-family: Quarca;
}

div.large {
  font-size: 200%;
}

.App-menu {
  text-align: center;
  cursor: pointer;
  height: 2.5em;
  padding-top: .2em;
  background-color: rgb(0, 15, 30);
  color: rgba(190, 190, 190, 1);
  position: fixed;
  top: 0;
  z-index: 20;
  font-family: Quarca;
}

.App-mobile-menu, .App-mobile-links{
  display: none;
}

a{
  text-decoration: none;
}

.App-header {
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0,15,30);
  height: 650px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  position: fixed;
  top: 2.4em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div.slidy {
  position: relative;
  top: 690px;
  z-index: 10;
  background-color: white;
  font-family: Bowhouse;
  width: 100%;
}

.App-content {
  width: 100%;
  font-family: "Raleway";
}

.comment-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr repeat(3, 1fr);
  grid-template-areas:
  "g-form g-comments g-comments g-comments";
  font-size: 85%;
}

.g-form {
  grid-area: g-form;
  padding: 0.5em;
  height: auto;
  width: auto;
}

.g-comments {
  grid-area: g-comments;
  padding: 0.5em;
}

.App-article {
  padding: 0.5em;
}

.gold-text, a.no-underline, a:visited {
  text-decoration: none;
  color: rgba(240, 180, 130, 0.9)
}

.App-article-title {
  text-align: center;
  padding-top: 0.5em;
}

.date {
  text-align: center;
  font-size: 80%;
}

p{
  font-family: Raleway;
}

p.App-article-first::first-letter{
  line-height: 1em;
  font-weight: bolder;
  font-size: 200%;
  float: left;
  padding-right: 5px;
}

.about {
  font-family: Raleway;
  font-size: 80%;
  position: relative;
  left: .5em;
  width: 90%;
  mix-blend-mode: luminosity;
}

.overlay {
  position: relative;
  background-color: black;
  color: white;
  top: 20em;
  z-index: 50;
  width: auto;
  height: auto;
}

courier {
  font-family: courier;
}

.centered-form {
  width: auto;
  height: auto;
  margin: 0 auto;
}

input, select, option, textarea{
  background-color: rgba(190, 190, 190, 0.3);
  color: rgb(190, 190, 190);
  border-radius: 0.2em;
  padding: 0.75em;
  margin: 2%;
  display: block;
}

select {
  display: inline;
}

form.comment-form {
}

input:focus, select:focus, option:focus, textarea:focus {
  outline: 5px solid rgba(240, 180, 130, 0,8);
  transition: 0.3s all linear;
}

button.submit{
  margin-left: .5em;
  margin-top: .5em;
  border-radius: 0.2em;
  padding: .5em;
}

label {
  margin-left: .5em;
}

textarea#comment {
  height: 10em;
  width: auto;
  resize: none;
  overflow: hidden;
}

/*.User-section{
  width: 100%;
}*/

.complete{
  display: none;
}

.incomplete{
  display: visible;
  color: red;
  font-family: Raleway;
  font-size: 75%;
}

.comment-item {
  list-style: none;
  height: auto;
  width: auto;
  padding: 5px;
  border: dotted 0.5px black;
}

span.stars {
  color: rgba(240, 180, 130, 0.9);
  font-size: 75%;
}

.goTop{
  text-align: center;
  font-family: courier;
  padding: 1em;
  cursor: pointer;
  color: rgba(240, 180, 130, 1);
}

.visible {
  opacity: 1;
  transition: all 2s;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.arrow-up {
  display: block;
  position: relative;
  /*top: 19px;*/
  top: 14px;
  left: 14px;
  border-top: 2px solid rgba(240, 180, 130, 0.7);
  border-left: 2px solid rgba(240, 180, 130, 0.7);
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

.arrow-up-lower {
  /*border-width: 1.5px;*/
  width: 15px;
  height: 15px;
  left: 16.5px;
  top: 5px;
}

.circle {
  border: 1.5px solid rgba(240, 180, 130, 0.7);
  background-image: radial-gradient(
    circle at center,
    rgb(0, 15, 30),
    rgba(255, 255, 255, 0.1) 90%
    );
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 43%;
  bottom: 2em;
}

.circle:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.bounce {
  position: relative;
  animation: 1s linear bounce;
}

@keyframes bounce {
  from {}
  20% { top: -5px; }
  29% { top: -1px; }
  48% { top: -3px; }
  75% { top: 0px; }
}
/* =================== Mobile layout: use below if screen < max-width ============================= */

@media screen and (max-width: 767.9px) {

  .App-menu {
    display: none;
  }

  .App-mobile-menu {
    display: block;
    cursor: pointer;
    height: 2.2em;
    background-color: rgb(0, 15, 30);
    color: rgba(190, 190, 190, 1);
    padding-top: 0.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    font-family: Quarca;
  }

  .App-mobile-menu:focus, .App-mobile-menu:hover {
    color: rgba(240, 240, 240, 0.9);
  }

  .App-mobile-links {
    cursor: pointer;
    display: block;
    z-index: 30;
    position: fixed;
    background-color: white;
    top: 2.1em;
    width: 100%;
    height: 100%;
    font-size: 125%;
    font-weight: bolder;
  }

  .closed {
    opacity: 0;
/*    background-color: rgba(255, 255, 255, 0);
    animation: disappear 0.4s;
    -webkit-animation: disappear 0.4s;*/
  }

  .open {
    opacity: 1;
/*    background-color: rgba(255, 255, 255, 0);
    animation: appear 0.4s;
    -webkit-animation: appear 0.4s;*/
  }

  .menu-links-initial {
    height: 0;
    opacity: 0;
  }

  /*.App-comments {
    position: static;
    margin-top: 0;
  }*/

  .initial-menu, .closing{
    width: 7px;
    height: 7px;
    border-right: 2px double rgb(190, 190, 190);
    border-bottom: 2px double rgb(190, 190, 190);
    transform: rotate(45deg);
    position: relative;
    left: 49%;
    top: 5%;
  }

  .opening {
    animation: .2s opening-ani;
    color: orange;
    font-size: 125%;
    position: relative;
    bottom: 10%;
    transform: rotate(90deg);
  }

  .closing {
    animation: 0.1s closing-ani;
  }

  .bounce {
    position: relative;
    animation: 1s linear bounce;
  }

  @keyframes bounce {
    from {}
    20% { top: -8px; }
    29% { top: -2px; }
    48% { top: -5px; }
    75% { top: 0px; }
  }

  @keyframes opening-ani {
    from {
    }
    to {
      transform: rotate(450deg);
    }
  }

  @keyframes closing-ani {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(-810deg);
    }
  }

  @keyframes appear {
    from { opacity: 0; background-color: rgba(255, 255, 255, 0);}
    100% { opacity: 1; background-color: rgba(255, 255, 255, 1);}
  }

  @keyframes disappear {
    from { opacity: 1; background-color: rgba(255, 255, 255, 1);}
    100% { opacity: 0; background-color: rgba(255, 255, 255, 0);}
  }

  @-webkit-keyframes appear {
    from { opacity: 0; background-color: rgba(255, 255, 255, 0);}
    100% { opacity: 1; background-color: rgba(255, 255, 255, 1);}
  }

  @-webkit-keyframes disappear {
    from { opacity: 1; background-color: rgba(255, 255, 255, 1);}
    100% { opacity: 0; background-color: rgba(255, 255, 255, 0);}
  }

  .comment-grid {
    display: block;
  }

}
