fieldset {
  border: 1px solid #c0c0c0;
  padding: 0.1em;
  margin: 0 2px;
  min-width: 14em;
}

input, select, option, textarea{
  background-color: rgba(190, 190, 190, 0.3);
  color: rgb(190, 190, 190);
  border-radius: 0.2em;
  padding: 0.75em;
  margin: 2%;
  display: block;
  font-size: 90%;
}

select {
  display: inline;
}

form.comment-form {
}

input, select, option, textarea, button.submit {
  border: 3px solid rgb(230, 230, 230);
  width: auto;
}

input:focus, select:focus, option:focus, textarea:focus {
  /*outline: 5px solid rgba(240, 180, 130, 0,8);*/
  outline: none;
  border: 3px solid rgb(240, 180, 130);
  transition: 0.3s all linear;
}

button.submit{
  margin: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
}

button.submit:hover {
  border: 3px solid rgb(240, 180, 130);
  transition: 0.3s all linear;
}

label {
  margin: .5em;
  padding: .5em;
}

textarea#comment {
  height: 10em;
  width: auto;
  resize: none;
  overflow: hidden;
}

.complete{
  display: none;
}

.incomplete{
  display: visible;
  color: red;
  font-family: Raleway;
  font-size: 75%;
}

.comment-item, li.comment-item:hover {
  list-style: none;
  height: auto;
  width: auto;
  padding: 5px;
  border: dotted 0.5px black;
  background-color: white;
}
